{%extends "base.html" %}

{%block title%}Bus Timings{%endblock%}
{%block icon%}href="/static/bus.png"{%endblock%}


{%block body%}
<!--<img src="https://source.unsplash.com/2400x600/?bus" class="d-block w-100" alt="..."><br><br> -->
<h1 style="text-align:left"><mark>Bus timings from Gumma to Shimla</mark></h1><br>
<a style="font-size: 20px;">---NOTE---<br>- Bus timings are 5-10minute early from their actual arrival<br>
  - We do not guarantee the assurity of a bus on a specific time.<br>
  - This list is still being edited. <br>
   </a><br>
<img src="/static/bus_timing.png" height="500" width="500"><br><br>
<h1 style="text-align:left"><mark>Bus timings from Shimla to Gumma</mark></h1><br>
<img src="/static/bus_timing2.png" height="500" width="500">
{%endblock%}