{%extends "base.html" %}

{%block title%}Image{%endblock%}
{%block icon%}href="/static/phone.png"{%endblock%}


{%block body%}
<img src="https://source.unsplash.com/2080x700/?Random" style="max-width: 100%; height: auto" ><br><br>
<h1 style="text-align:center">Get Desired Random Images (Just Like Above)</h1>
<form target="_blank" class="d-flex" role="search">
  <input class="form-control me-2" type="text"   name="name"  required placeholder="Name of Image" aria-label="text">
  <input class="form-control me-2" type="number" value="1920" required name="width" placeholder="Width" aria-label="number">
  <input class="form-control me-2" type="number" value="1280" required name="height" placeholder="Height" aria-label="number">
  <button class="btn btn-outline-success"  type="submit">Search</button>

{%endblock%}